html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  min-width: 300px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.layout {
  height: 100vh;
  border: 1px solid black;
}

.homePage {
  height: 100vh;
}

.aboutPage {
  height: 100vh;
  border: 1px solid blue;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  height: 100%;
  margin: 0;
}

.workHeader {
  height: 75vh;
  position: sticky;
  top: 5px;
  background: linear-gradient(105deg, #cfd9df, #e2ebf0);
}

.projectOne {
  height: 70vh;
  position: sticky;
  top: 45px;
  margin-top: -200px;
  background: linear-gradient(105deg, #ff9a9e, #fecfef);
}

.projectTwo {
  height: 65vh;
  position: sticky;
  top: 75px;
  background: linear-gradient(105deg, #a1c4fd, #c2e9fb);
}

.projectBlank {
  background: #ffffff;
  height: 5vh;
  position: sticky;
}
